<link rel="stylesheet" href="./css/home.css">

<div class="typeTextContainer col-md-12">
  <!DOCTYPE html>
  <h1>WELCOME TO THEMEPARK PAL, LET THE MEMORIES BEGIN!</h1>

</div>

<div class="col-md-12 homeimg">
  <div class="imgContainer2">
    <div class="movie-images jaws"></div>
    <div class="movie-images toystory"></div>
    <div class="movie-images et"></div>
    <div class="movie-images junglebook"></div>
    <div class="movie-images backtothefuture"></div>
    <div class="movie-images littlemermaid"></div>

  </div>
</div>

<div class="col-md-12 homeimg">
  <div class="imgContainer2">
    <div class="movie-images flubber"></div>
    <div class="movie-images hulk"></div>
    <div class="movie-images honeyishrunkthekids"></div>
    <div class="movie-images jurassicpark"></div>
    <div class="movie-images pocahontas"></div>
    <div class="movie-images mummy"></div>

  </div>
</div>

<div class="col-md-12 homeimg">
  <div class="imgContainer2">
    <div class="movie-images thelionking"></div>
    <div class="movie-images spiderman"></div>
    <div class="movie-images tarzan"></div>
    <div class="movie-images thegrinch"></div>
    <div class="movie-images airbud"></div>
    <div class="movie-images despicableme"></div>

  </div>
</div>

