 .background {
background: url("../images/matchPage.jpg") 100% 100% no-repeat;
background-size: cover;
padding-bottom: 300px;
opacity: .8;
}   

  .matchHeader {
  text-align: center;
  font-weight: 400; 
  color: white; 
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
  margin-top: -13px;
  font-size: 80px;
  padding-top: 80px;
  padding-bottom: 8px;
  font-family: 'Bungee Inline', cursive;
}  

.matchDiv {
text-align: center;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 400; 
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-style: solid;
  border-width: 5px;

}

.btn-primary {
    color: #332f2f;
    background-color: #F6EC66;
    border-color: #F6EC66;
    margin: 30px;
}

#matchLabel {
  font-size: 24px;
}

.matchResult {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 400; 
  font-size: 32px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.form-horizontal{
  margin: 2px;
  padding: 20px 70px 20px 5px;
}

 .personal-info {
    text-align: center;
    margin: 70px 300px;
    border-style: solid;
  border-width: 5px;
  color: white;
 }

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.labelPick {
  text-align: center;
  margin: 35px 0px 7px 0px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 400;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.control-label {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 400;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 30px;
}

.h3, h3 {
    font-size: 24px;
    font-family: 'Julius Sans One', sans-serif;
  font-weight: 400;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 38px;
    
}
